@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lacquer&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
:root {
    --header-height: 3rem;
    /*===== Colors =====*/
    --first-color: #5B65F5;
    --first-color-light: #C4C7F5;
    --dark-color: #0E1026;
    --white-color: #FBFBFB;
    /*===== Font and typography =====*/
    --body-font: 'Open Sans', sans-serif;
    --nav-name-font-size: 1.5rem;
    --normal-font-size: .938rem;
    /*===== z index =====*/
    --z-fixed: 100;
}

* {
    position: relative;
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
    width: 100vw;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.home {
    transition: ease-in 2s;
    z-index: 100;
    height: 100vh;
    opacity: 1;
}

.sound {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
}

#toggle {
    border: none;
    background: none;
    color: white;
    font-size: 2.5vw;
}


overlay2{
  background: #706ea8;
  mix-blend-mode: overlay;
}

.box{
  flex:1;
  display: flex;
  position: absolute;
  top: 11vh;
  overflow: auto;
}
.box::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.box {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.container{
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.container h1{
  font-size: 3em;
  margin-top: 10px;
  opacity: 0;
  transform: scale(0.81);
  transition: opacity 3s, transform 3s;
}

.organiser{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  visibility: visible;
}

.organiser .card {
  display: flex;
  flex-direction: column;
  margin: 2vh 2vw;
  width: 18vw;
  height: 24vw;
  max-width: 225px;
  max-height: 315px;
  padding: 9px;
  background: var(--white-color);
  border: 1px solid var(--dark-color);
  padding-bottom: 15px;
  opacity: 0;
  transform: translateY(100px) scale(1.1);
  transition: opacity 3s, transform 3s;
}

.organiser img{
  border: 1px solid var(--dark-color);
  height: inherit;
  width: auto;
  overflow: hidden;
}

.organiser span{
  color: var(--dark-color);
  margin-top:5px;
  margin-bottom: -9px;
  text-align: center;
}

.organiser .animate{
  opacity: 1;
  transform: translateY(0) scale(1);
}

.container .animate{
  opacity: 1;
  transform: scale(1);
}

.container .hover:hover {
  transition-duration: 500ms;
  transform: translateY(-10px) scale(1.02);
}

.container .space {
  padding-top: 100px;
}

@media screen and (max-width:768px) {
  .sound {
    right: 15px;
    bottom: 15px;
  }
  #toggle {
    font-size: 2vh;
  }

  .box{
    top: 18vh;
  }

  .container h1{
    font-size: 2.4em;
    margin-top: 50px;
  }

  .organiser span{
    font-size: 0.81em;
  }

  .organiser .card{
    width: 30vw;
    height: 45vw;
    max-width: 300px;
    max-height: 500px;
  }

}
